html{
    font-size: 62.5%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
body{
  width: 100%;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.registrationform{
width: 500px;
color: #ffffff;
background: #005B9D;
border-radius: 10px;
margin: 0 auto;
padding: 10px 0 0 0;
display: block;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.registrationform > h1{
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-size: 3.2rem;
  margin-bottom: 10px;
  text-align: center;
}
.personal-detail{
  margin: 0;
  padding: 10px;
  color: #000000;
  background-color:#ffffff;
}
h2{
  font-size: 22px;
  font-size: 2.2rem;
}
.input-group{
  padding: 10px 20px;
  margin: 20px;
  background: #d1d2d3;
  font-size: 18px;
  font-size: 1.8rem;
}
input{
  height: 30px;
}
#name, #address, #email, #phonenumber, #birthdate{
  background: #ffffff;
  border: 2px solid #ffffff;
  width: 100%;
  margin-bottom: 20px;
}
.btn-primary{
  color: #ffffff;
  background-color: #005B9D;
  padding: 10px;
  width: 40%;
  border: none;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-primary:hover{
  color: #ffffff;
  background-color: #0B5285;
}
 .btn-cancel{
   padding: 10px;
   width: 40%;
   color: #ffffff;
   background-color: #AB0100;
   border: none;
   border-radius: 8px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 .btn-cancel:hover{
   color: #FFFFFF;
   background-color: #A10A0A;
 }
.btn-group {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 320px;
}
.pagefooter{
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 20px;
}
/*tablets on landscape orientations*/
@media screen
and (max-device-width: 1024px){
  body{
    margin:10px 0;
    width: 100%;
  }
  .registrationform{
   width: 400px;
 }
 }
}


/*smartphone on landscape and tablets on potrait orientations*/
@media screen
and (max-device-width: 768px){
 body{
   margin:10px 0;

   width: 100%;
 }
 .registrationform{
  width: 350px;
}
}
/* smartphones on potrait orientations */
@media screen
and (min-device-width: 320px)
and (max-device-width: 480px){
  body{
    margin:10px 0;
    width: 100%;
  }
  .registrationform > h1{
    font-size:24px;
    font-size:2.4rem;
  }
  h2{
    font-size: 18px;
    font-size: 1.8rem;
  }
  .registrationform{
    width: 300px;
  }
  .detail{
    font-size: 14px;
    font-size: 1.4rem;
  }
  .btn-primary{
    width: 100%;
  }
  .btn-cancel{
    width: 100%;
    margin-top: 10px;
  }
  .pagefooter{
    font-size: 12px;
    font-size: 1.2rem;
  }

}
